<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<div class="page-wrapper">
    <header class="header transparent scroll-hide">
        <div class="site-navbar-wrap v2">
            <div class="container">
                <div class="site-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-6">
                            <a class="navbar-brand" href="#"><img src="../../assets/img/logo1.png" alt="logo" class="img-fluid" style="max-width: 70%;"></a>
                        </div>
                        <div class="col-md-8 col-6">
                            <nav class="site-navigation float-left">
                                <div class="container">
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li class="no-children">
                                            <a href="" routerLink="">Home</a>
                                        </li>
                                        <li class="no-children">
                                            <a href="" routerLink="/about">About Us</a>
                                        </li>
                                        <li class="no-children">
                                            <a href="" routerLink="/events">Our Events</a>
                                        </li>
                                        <li class="no-children">
                                            <button class="btn v8" type="button" routerLink="/firstpage">Pre Registration K2K<i class="icofont icofont-plus-circle"></i></button>   
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
            <div class="col-md-4 col-6">
                <a class="navbar-brand navm" href="#"><img src="../../assets/img/logo1.png" alt="logo" class="img-fluid" style="width: 70%;"></a>
            </div>
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
          
                </div>
                <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a routerLink="">Home</a></li>
                    <li class="nav-item"><a routerLink="/about">About Us</a></li>
                    <li class="nav-item"><a routerLink="/events">Our Events</a></li>
                    <li class="d-lg-none nav-item"><a routerLink="/firstpage">Pre Registration K2K</a>
                </ul>
                </div>
             </div>
            </div>
      </header>
</div>  
<br><br><br><br><br><br>
<div class="k2k">
    <img src="../../assets/img/k2k.jpg" alt="">
</div>
<div class="container t1">
    <h1> 'Roads were made for journeys, not destination' </h1>
</div>

      <div class="container t">
          <br>
          <div class="row">
          </div>
          <div class="row">
              <br>
              <br>
              <p> The one who would love to live by this line will join us on our first major road trip travelling
                   right from the paradise of the India to touching down till the oceans. We are organising your best
                    memories of travel for you in the month of April 2021.We will make sure to take your life on a
                     voyage were
                  you rendez-vous with some of the best people, food, location and a experience to remember.</p>
                  <br>
                  <br>
                  <p> There will be 200 people like you who are just like you, wanted something more every dsy from live. Road trips are the only medium to look things differently, to live with the locals, to experienceevery bit of the  journey. This trip is going to be 30 different days in different cities with different food and people. 
                      We promote tourism to promote to take a break from yoyr day to daylife and challenges to do something exciting and adventures.
                      We embrace our biker to explore the city from its core to discover India for its true value.
                      With us you can encounter with India's best ROAD TRIP
                  </p>
          </div>
          <br>
          <br>
          <div class="row">
            <br>
            <br>
            <h4 style="font-weight: 900;">Notice</h4>
            <ul>
                <li> <b style="font-size: 20px;">•</b> Candidates will be selected on the basis of the answers you provide against the questionnaire</li>
                <li><b style="font-size: 20px;">•</b> The following questionnaire contains 25 questions.</li>
                <li><b style="font-size: 20px;">•</b> Basis on your answers our team will select the 200 best candidates.</li>
                <li><b style="font-size: 20px;">•</b> After answering all the questions you will get an option to review your answers where you can edit any changes if required.</li>
                <li><b style="font-size: 20px;">•</b> <b>Registration amount :- 
                    Rs 1000/- inclusive of all taxes.</b></li>
                <li><b style="font-size: 20px;">•</b> <b>Registration fees is non- refundable.</b></li>
                <li><b style="font-size: 20px;">•</b> Once your payment is complete,you are registered for the K2K ride and the confirmation of selection will be provided on your registered email account and mobile number.</li>
                <li><b style="font-size: 20px;">•</b> If you agree with all the above statements You can click the registration button below.</li>
            </ul>
          </div>

      </div>

      <div class="center">
        <button class="btn btn-primary" *ngIf="visible" onclick="window.location.href='https://registration.hashtagplanners.in'">Registration</button>
        <span class="no-children regiT" *ngIf="!visible" style=" font-family: 'Harlow Solid Italic', sans-serif; font-size: 30px;"> Registration will start from <br> {{range}} </span>
      </div>
      <div class="regiBtn">
        <button routerLink="/k2k" >Know more</button>
    </div>
<br>
<br>
<!--Footer Starts-->
<div class="footer-wrapper no-pad-tb v2">
    <div class="footer-top-area" >
        <div class="container">
            <div class="row nav-folderized">
                <div class="col-lg-3 col-md-12">
                    <div class="footer-logo">
                        <a href=""> <img src="../../assets/img/logo1.png" alt="logo" style="width: 50%;"></a>
                        <div class="company-desc">
                            <p>
                                YOUR BUDGET <br> OUR PLANNING
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-content nav">
                        <h2 class="title">Contact us</h2>
                        <ul class="list footer-list">
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-email"></i>
                                    </div>
                                    <div class="text"><a href="#">info@hashtagplanners.in</a></div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-info">
                                    <div class="icon">
                                        <i class="icofont icofont-whatsapp"></i>
                                    </div>
                                    <div class="text">+91 8588090209</div>
                                </div>
                            </li>
                        </ul>
                        <ul class="social-buttons style2">
                            <li><a href="https://www.facebook.com/hashtagplannersIndia"><i class="icofont icofont-facebook" ></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCLJrU8DGBN69hVBCfjl0dJw/featured"><i class="icofont icofont-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com/hashtagplannersindia"><i class="icofont icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2 text-center">
                    <p>&copy; 2021 Hashtag Planner. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer ends-->